<h1>Je crée un nouveau booking</h1>

<%= simple_form_for [@timeslot, @booking] do |f| %>
  <%= f.error_notification %>
  <%= f.association :client %>
  <%= f.association :timeslot %>
  <%= f.input :adults %>
  <%= f.input :children %>
  <%= f.input :comments %>
  <%= f.input :status, collection: Booking::statuses  %>
  <%= f.input :channel_source, collection: Booking::channel_sources  %>
  <%= f.submit "Valider", class: "btn btn-primary" %>
<% end %>
