<div class="row">
  <h3 class="text-center text-green">Je vous crée une nouvelle activité ?</h3>
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
    <%= simple_form_for @activity do |f| %>
      <%= f.error_notification %>
      <%= f.input :title, required: true, label: 'Titre' %>
      <%= f.input :description, required: true %>
      <%= f.input :duration_in_minutes, required: true, label: 'Durée (en minutes)' %>
      <%= f.input :meeting_point, required: false, label: 'Lieu du RDV' %>
      <%= f.input :capacity, required: true, label: 'Capacité (en personne)' %>
    <div class="col-xs-6">
      <%= f.input :adult_price_cents, required: true, label: 'Prix TTC adulte'%>
    </div>
    <div class="col-xs-6">
      <%= f.input :child_price_cents, required: true, label: 'Prix TTC enfant'%>
    </div>
      <%= f.input :image, label: 'Photo' %>
      <%= f.input :image_cache, as: :hidden %>
      <%= f.submit "Valider", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<!-- <h2>Plateformes</h2>
Plateformes uniquement Fake / CSS -->


<%# if @activity.errors.any? %>
<%# @activity.errors.full_messages %>
<%# end %>


