
<!-- Taille image (uploader lors de la création) / Vérifier la size -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h3>Détail de mon activité :</h3>
      <h4><strong> Mon activité :</strong> <%= @activity.title %></h4>
      <p><strong> Description :</strong><%= @activity.description %></p>
      <p><strong> Durée (min) :</strong> <%= @activity.duration_in_minutes %></p>
      <p><strong> Localisation :</strong> <%= @activity.meeting_point %></p>
      <p><strong> Capacité maximale :</strong> <%= @activity.capacity %></p>
      <p><strong> Prix adulte :</strong> <%= @activity.adult_price_cents %></p>
      <p> <strong> Prix enfant :</strong> <%= @activity.child_price_cents %></p>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="right">
        <%= cl_image_tag @activity.image, class: "card", height: 200, width: 300, crop: :fill %>
        <%= link_to "Nouveau créneau", href="/timeslots/new", class: "btn btn-primary" %>
      </div>

    </div>
  </div>
</div>










