<!-- Taille image (uploader lors de la création) / Vérifier la size -->
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
    <form action="#">

    <h1 class="text-center activity">Votre activité <strong><%= @activity.title %> en détail</strong></h1>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-0">
    <ul class="list-group">
       <li class="list-group-item"> <h5 class="detail-activity"><strong><span class="glyphicon glyphicon-search"></span> <strong> Description </strong></h5><%= @activity.description %></li>
        <li class="list-group-item"><h5 class="detail-activity"><span class="glyphicon glyphicon-dashboard"></span> <strong> Durée </strong></h5><%= @activity.duration_in_minutes %> minutes</li>
        <li class="list-group-item"><h5 class="detail-activity"><strong><span class="glyphicon glyphicon-map-marker"></span> Localisation </strong></h5><%= @activity.meeting_point %></li>
        <li class="list-group-item"><h5 class="detail-activity"><strong> <span class="glyphicon glyphicon-user"></span> Capacité maximale </strong></h5><%= @activity.capacity %> personnes</li>
        <li class="list-group-item"><h5 class="detail-activity"><strong> <span class="glyphicon glyphicon-eur"></span> Prix adulte </strong></h5><%= @activity.adult_price_cents %> €</li>
        <li class="list-group-item"><h5 class="detail-activity"><strong><span class="glyphicon glyphicon-eur"></span>  Prix enfant </strong></h5><%= @activity.child_price_cents %> €</li>
    </ul>
  </div>
  <div class="col-xs-12 col-md-4 col-md-offset-1">
      <div class="row text-center">
        <%= cl_image_tag @activity.image, class: "picture-frame", height: 200, width: 300, crop: :fill %>
      </div>
      <br>

      <br>
      <div class="toggler-container">
        <div class="toggler">
          <%= image_tag "log booking pour activity show.png", height: 37 %>
          <div class="checkbox-toggle-wrap pull-right">
            <input type="checkbox" name="checkbox1" id="checkbox1" class="ios-toggle" checked/>
            <label for="checkbox1" class="checkbox-label" data-off="off" data-on="on"></label>
          </div>
        </div>
        <div class="toggler">
          <%= image_tag "airbnb logo show acitivity.png", height: 28 %>
            <div class="checkbox-toggle-wrap pull-right">
              <input type="checkbox" name="checkbox2" id="checkbox2" class="ios-toggle" checked/>
              <label for="checkbox2" class="checkbox-label" data-off="off" data-on="on"></label>
            </div>
        </div>
        <div class="toggler">
          <%= image_tag "tripadvisor show activity.png", height: 33 %>
            <div class="checkbox-toggle-wrap pull-right">
              <input type="checkbox" name="checkbox3" id="checkbox3" class="ios-toggle" checked/>
              <label for="checkbox3" class="checkbox-label" data-off="off" data-on="on"></label>
            </div>
        </div>
      </div>

      <div class="row text-center">
          <br>
          <%= link_to "Nouveau créneau", href="/timeslots/new", class: "btn btn-primary" %>
          <br>
          <br>
          <br>
      </div>
    </div>
  </div>
</div>





