<div class="row">
  <br>
  <h3 class="text-center text-green">Je vous crée un nouveau créneau ?</h3>
  <br>
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
    <%= simple_form_for @timeslot do |f| %>
      <%= f.error_notification %>
      <%= f.association :activity, required: true %>
      <%= f.input :start_datetime, html5: true %>
      <%= f.submit "Valider", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
