<div class="row">

<!-- Mobie view -->
  <div class="hidden-md hidden-lg">
  <h3 class="text-center text-green mb0">
    Votre créneau  <%= link_to "#{@timeslot.activity.title}", activity_path(@timeslot.activity), class: "text-green" %>
  </h3>
  <h3 class="text-center text-green mt0">
    du <%= l @timeslot.start_datetime, format: :custom_long %>
  </h3>
  </div>

<!-- Laptop view -->
  <div class="hidden-xs hidden-sm">
  <h3 class="text-center text-green mb-">Votre créneau  <%= link_to "#{@timeslot.activity.title}", activity_path(@timeslot.activity), class: "text-green" %> du <%= l @timeslot.start_datetime, format: :custom_long %></h3>
  </div>

  <div>
    <div class="flex-container">

      <div class="h4">
          <span>
            <a id="button-print" class="glyphicon glyphicon-print pull-left ml-- mr hidden-xs"></a>
          </span>
          <span class="mr- pull-left">
            Début
          </span>
          <span class="pull-left m0">
            <%= l @timeslot.start_datetime, format: :time %>
          </span>
          <span class="mr- ml pull-left">
            Fin
          </span>
          <span class="pull-left m0">
            <%= l @timeslot.end_datetime, format: :time %>
          </span>
      </div>

      <div class="h4">
          <span class="mr- ml pull-left">
            Réservations
          </span>
          <span class="pull-left m0">
            <%= @timeslot.total_participants %> / <%= @timeslot.activity.capacity %>
          </span>
          <span class="label label-danger mr-- ml pull-left">
            <%= t("activerecord.attributes.timeslot.statuses.#{@timeslot.status}") %>
          </span>
      </div>
    </div>
    <br>
  </div>
  <div>
    <div class="panel panel-default">
      <div class="table-responsive">
        <table class="table table-hover w-auto table-fixed table-timeslot-show">
          <thead>
            <tr class="text-green h5 text-bold">
              <td>Statut</td>
              <td>Prénom</td>
              <td>Nom</td>
              <td>Téléphone</td>
              <td>E-mail</td>
              <td>Adultes</td>
              <td>Enfants</td>
              <td>Total</td>
              <td>Source</td>
            </tr>
          </thead>
          <tbody>
          <% @timeslot.bookings.each do |booking| %>
            <tr>
              <td><%= t("activerecord.attributes.booking.statuses.#{booking.status}") %></td>
              <td><%= booking.client.first_name %></td>
              <td><%= booking.client.last_name %></td>
              <td><%= booking.client.phone_number %></td>
              <td><%= booking.client.email %></td>
              <td class="text-center"><%= booking.adults %></td>
              <td class="text-center"><%= booking.children %></td>
              <td><%= humanized_money_with_symbol(booking.total_price) %></td>
              <td><%= t("activerecord.attributes.booking.channel_sources.#{booking.channel_source}") %>
            </tr>
          </tbody>
        <% end %>
        </table>
      </div>
    </div>

        <br>
    <div class="col-md-4 col-md-offset-4">
     <div class="row text-center">
      <%= link_to activity_path(@timeslot.activity) do %>
        <%= cl_image_tag @timeslot.activity.image, class: "picture-frame", height: 200, width: 300, crop: :fill %>
        <% end %>
        <br>
        <br>
        <br>
      </div>
      </div>

  </div>
</div>
