<h1>Votre créneau:</h1>

<div>
    <h3><%= @timeslot.activity.title %> - <%= l @timeslot.start_datetime, format: :custom %></h3>
    <p><%= @timeslot.status %></p>
    <p>Début: <%= l @timeslot.start_datetime, format: "%H:%M" %></p>
    <p>Fin: <%= l @timeslot.end_datetime, format: "%H:%M" %></p>
    <p>Réservations: <%= @timeslot.total_participants %> / <%= @timeslot.activity.capacity %> </p>
    <br>
</div>

<% @timeslot.bookings.each do |booking| %>
  <div>
      <p><%= booking.status %> |
      <%= booking.client.first_name %> |
      <%= booking.client.last_name %> |
      <%= booking.client.phone_number %> |
      <%= booking.client.email %> |
      Adult(s): <%= booking.adults %> |
      Enfant(s): <%= booking.children %> |
      <%= humanized_money_with_symbol(booking.total_price) %></p>
      <p>Commentaire: <%= booking.comments %></p>
      <br>
  </div>
<% end %>
