<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <form action="#">
      <h1 class="text-center">Voici votre créneau en détail:</h1>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-9 col-md-offset-2">
    <h4><strong> Mon activité : </strong><%= link_to "#{@timeslot.activity.title}", activity_path(@timeslot.activity) %> - <%= l @timeslot.start_datetime, format: :custom %></h3>
    <p><%= t("activerecord.attributes.timeslot.statuses.#{@timeslot.status}") %></p>
    <p>Début: <%= l @timeslot.start_datetime, format: :time %></p>
    <p>Fin: <%= l @timeslot.end_datetime, format: :time %></p>
    <p>Réservations: <%= @timeslot.total_participants %> / <%= @timeslot.activity.capacity %> </p>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-9 col-md-offset-2">
    <% @timeslot.bookings.each do |booking| %>
      <p><%= t("activerecord.attributes.booking.statuses.#{booking.status}") %> |
      <%= booking.client.first_name %> |
      <%= booking.client.last_name %> |
      <%= booking.client.phone_number %> |
      <%= booking.client.email %> |
      Adult(s): <%= booking.adults %> |
      Enfant(s): <%= booking.children %> |
      <%= humanized_money_with_symbol(booking.total_price) %></p>
      <p>Commentaire: <%= booking.comments %></p>
      <br>
    <% end %>
  </div>
</div>
